{% extends 'base.html' %}

{% block profile %} - {{ profile }} {% endblock %}

{% block body %}
<div style="padding-bottom:30px;">
    <a href="{% url 'responses:menu' profile.id %}" class="btn-xxl btn btn-primary btn-block btn-lg ">
        <h2>Back to exercises</h2>
    </a>
</div>

<div ng-app="grammartinker">
    <div ng-controller="resultsController as vm" >
        <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="row in $data">
            <td data-title="'Date'"  sortable="'date'">{$ row.date $}</td>
            <td data-title="'Simple past'">
                <div class="progress-bar" role="progressbar" style="width: {$ row.simple_past[0] $}%">
                    {$ row.simple_past[0] $}%
                </div>
                <span class="pull-right">
                    {$ row.simple_past[1] $} / {$ row.simple_past[2] $}
                </span>
            </td>
            <td data-title="'Past participle'" >
                    <div class="progress-bar" role="progressbar" style="width: {$ row.past_participle[0] $}%">
                        {$ row.past_participle[0] $} %
                    </div>
                <span class="pull-right" >
                    {$ row.past_participle[1] $}/{$ row.past_participle[2] $}
                </span>
            </td>
          </tr>
        </table>
    </div>
</div>


{# move this to js file #}
{% endblock %}

{% block extra_js %}
    <script>{% include 'js/responses_table.js' %}</script>
{% endblock %}
