{% extends 'base.html' %}

{% block profile %} - {{ profile }} {% endblock %}

{% block body %}

<div ng-app="grammartinker">
    <div ng-controller="Exercise as vm" >
        <div ng-show="vm.loading" >
            <h1>Loading verbs...</h1>
            <div class='uil-ring-css' style='transform:scale(0.6);'>
                <div></div>
            </div>
        </div>

        <div ng-show="!vm.loading">

            <form class="form-horizontal" autocomplete="off">
                <h2>{$ vm.verb.infinitive $}</h2>
                <div class="form-group" ng-class="{'has-feedback': vm.answered}" >
                    <label for="simple_past" class="col-sm-2 control-label">Simple past</label>
                    <div class="col-sm-3" ng-class="{'has-error': vm.answered && !vm.reponse.simple_past_correct, 'has-success': vm.answered && vm.reponse.simple_past_correct}" >
                        <input tabindex="1" ng-model="vm.reponse.simple_past" ng-readonly="vm.answered"  class="form-control" id="simple_past" />
                        <response answered="vm.answered" is-correct="vm.reponse.simple_past_correct" correct-response="vm.verb.simple_past"></response>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-feedback': vm.answered}" >
                    <label for="past_participle" class="col-sm-2 control-label">Past participle</label>
                    <div class="col-sm-3" ng-class="{'has-error': vm.answered && !vm.reponse.past_participle_correct, 'has-success': vm.answered && vm.reponse.past_participle_correct}" >
                        <input tabindex="2" ng-model="vm.reponse.past_participle" ng-readonly="vm.answered" id="past_participle" class="form-control" />
                        <response answered="vm.answered" is-correct="vm.reponse.past_participle_correct" correct-response="vm.verb.past_participle"></response>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button tabindex="3" ng-click="vm.checkClick()" ng-show="!vm.answered" class="btn btn-primary" >Check answer</button>
                        <button tabindex="4" ng-click="vm.nextVerbClick()" ng-show="vm.answered && vm.verbsAmount-1 > vm.currentVerbIndex" class="btn btn-primary" >Next verb</button>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'responses:summary' response_session.id %}" >
                            <button  class="btn btn-warning">Finish</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{# move this to js file #}
<script type="text/javascript">
(function(){
    var grammartinkerApp = angular.module('grammartinker', []);

    grammartinkerApp.config(function($httpProvider, $interpolateProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        $interpolateProvider.startSymbol('{$');
        $interpolateProvider.endSymbol('$}');
    });


    grammartinkerApp.directive('response', function() {
        return {
          restrict: 'E',
          scope: { isCorrect: '=', correctResponse: '=', answered: '=' },
          template:
            '<span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-show="answered && isCorrect" ></span><span class="glyphicon glyphicon-remove text-danger form-control-feedback" ng-show="answered && !isCorrect" ></span><span class="text-danger help-inline" ng-show="answered && !isCorrect" >{$ correctResponse $}</span>'
        };
      })

    grammartinkerApp.controller("Exercise", function($http) {
        var vm = this;
        var model = {};
        var verbs = [
            {infinitive: 'read',  simple_past: 'read', past_participle: 'read'},
            {infinitive: 'lay',  simple_past: 'laid', past_participle: 'laid'},
            {infinitive: 'lead',  simple_past: 'led', past_participle: 'led'}
        ];
        var responses = []

        vm.currentVerbIndex = 0;

        vm.reponse = {
           simple_past: '',
           simple_past_correct: false,
           past_participle: '',
           past_participle_correct: false
        }

        vm.checkClick = checkReponse;
        vm.nextVerbClick = nextVerb;
        vm.loading = true;

        // TODO: move http comunication to service
        $http({
            method: 'GET',
            url: '{% url "verbs:random" %}'
        }).then(function successCallback(response) {
            verbs = response.data;
            vm.verbsAmount = verbs.length;
            vm.verb = verbs[vm.currentVerbIndex];
            vm.reponse.infinitive = vm.verb.infinitive;
            vm.loading = false;
        });

        function nextVerb() {
            responses.push(vm.response);
            $http.post(
                '{% url "responses:save-response" response_session.id %}',
                vm.reponse
            )

            //  save response to server
            vm.answered = false;
            vm.currentVerbIndex += 1;
            vm.verb = verbs[vm.currentVerbIndex];
            vm.reponse = {
                infinitive: vm.verb.infinitive,
                simple_past: '',
                simple_past_correct: false,
                past_participle: '',
                past_participle_correct: false
            }
        }

        function checkReponse() {
            vm.reponse.simple_past_correct = vm.reponse.simple_past.trim().toLowerCase() == vm.verb.simple_past;
            vm.reponse.past_participle_correct = vm.reponse.past_participle.trim().toLowerCase() == vm.verb.past_participle;
            vm.answered = true;
        }

    })


}())

</script>
{% endblock %}
